*{
    font-family: Poppins;
    
}

body{
    width: 360px;
    height: 640px;
    padding: 24px, 16px, 0px, 16px;
    gap: 8px;
    border: 1px;
    background: #F7F7F7;
    border-radius: 12px;


    
}
/* div{

    font-family: "Poppins";
    width: 360px;
    height: 640px;
    background-color: blue;
    border: 1px solid;
    border-radius: 8px;
    
    
} */

 .pokedex header {

   font-size: 24px;
   line-height: 32px;
   display: flex;
   justify-content: space-between;
   
} 
#search{

box-sizing: border-box;

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 4px, 8px, 4px, 8px;
gap: 16px;
width: 328px;
height: 24px;
top: 64px;
left: 16px;


/* White */

background: #FFFFFF;
/* Light Gray */

border: 1px solid #E0E0E0;
border-radius: 8px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
    
    
    
}

icon {
           
    float: left;
    width: 360px;
    height: 640px;
    border-radius: 8px;
    margin: 0 8px 8px;    
    box-sizing: border-box;
    border: 1px solid;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    background: #74CB48
}
order{
    margin-top: -100px;
    position: relative;
    font-size: 8px;
    line-height: 12px;    
    top: 4px;
    left: 8px;       
    margin-left: 30px;
}

.head {
    width: 0px;
    height: 0px;
    width: 0px;
          
}

img{
    width: 200px;
    height: 200px;
    margin-top: 100px;
    position: relative;

}
#imageRetorno{
    width: 17.5px;
    height: 17.5px;
    margin-top: 31.35px;
    margin-left: 27.25px;
}

name{
    font-size: 10px;       
    top: 4px;
    position: relative;
    margin-top: 0px;
    offset-position: 100px;
    
}



.about {
    background: #F7F7F7;
    border-radius: 8px;
    
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid;
    margin: 0px 120px 8px;  
    position: absolute;
    width: 352px;
    height: 412px;
    margin-top: 230px;    
    margin-left: 9px;
}


/* .pokemon {
    position: absolute;
    left: 80px;
    right: 0%;
    top: -110px;
    bottom: 0%;
    background: url(/images/charmander.svg);
    background-repeat: no-repeat;
} */