* {
    font-family: Poppins;

}

body {
    
    width: 360px;
    height: 640px;
    padding: 24px, 16px, 0px, 16px;
    gap: 8px;
    border: 1px;
    background: #F7F7F7;
    border-radius: 12px;

}

div {
    margin: 0 8px 8px;

}

.pokedex header {

    display: flex;    
    font-size: 24px;
    line-height: 32px;
    justify-content: space-between; 

}

#search {
    display: flex;
    flex-direction: row;
    width: 328px;
    height: 24px;
    top: 64px;
    gap: 16px;
    margin-left: 8px;
    margin-top: 64px;
    /* White */
    background: #FFFFFF;
    /* Light Gray */
    border: 1px solid #E0E0E0;
    border-radius: 8px;

}

icon {

    display: flex;
    flex-direction: column;
    float: left;
    width: 104px;
    height: 112px;
    border-radius: 8px;
    margin: 0 8px 8px;
    box-sizing: border-box;
    border: 1px solid
}

order {

    font-size: 8px;
    line-height: 12px;
    top: 4px;
    left: 8px;
    margin-left: 80px;
}

name {

    font-size: 10px;
    top: 4px;
    margin-left: 25px;
    margin-top: 80px;

}

img {

    position: absolute;

}

#simbol1{
    margin-top: 33px;
}
#simbol2{
    margin-top: 40px;
   margin-left: 325px;
   position: absolute;
}
#simbol3{
    margin-top: 40px;
}

#simbol4{
    margin-left: 50px;
    
    position: absolute;
}
